* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: red;
}
.hidden {
  display: none !important;
}
.frame {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.frame__box {
  background-color: black;
  position: absolute;
}
.frame__box.frame__box--left {
  background-image: url("../img/bkgd-left.png");
  background-size: cover;
  border-right: 4px solid limegreen;
  width: 20vw;
  height: 100%;
  top: 0;
  left: 0;
}
.frame__box.frame__box--top {
  background-image: url("../img/bkgd-top.png");
  background-size: cover;
  border-bottom: 4px solid limegreen;
  width: 80%;
  height: 70vh;
  left: 20vw;
  top: 0;
}
.frame__box.frame__box--bottom {
  background-image: url("../img/bkgd-bottom.png");
  background-size: cover;
  width: 80%;
  height: 30%;
  left: 20vw;
  bottom: 0;
}
.frame__box.frame__box--bottom .interact__directions {
  width: 180px;
  height: 100%;
  float: right;
}
.frame__box.frame__box--bottom .interact__directions .btn {
  position: absolute;
}
.frame__box.frame__box--bottom .interact__directions .north {
  right: 80px;
  top: 30px;
}
.frame__box.frame__box--bottom .interact__directions .south {
  right: 80px;
  top: 130px;
}
.frame__box.frame__box--bottom .interact__directions .east {
  right: 10px;
  top: 80px;
}
.frame__box.frame__box--bottom .interact__directions .west {
  right: 150px;
  top: 80px;
}
.map-container {
  background-color: white;
  border: 2px solid grey;
  box-sizing: initial;
  z-index: 1;
  width: calc(18vw);
  min-width: 180px;
  min-height: 180px;
  height: calc(18vw);
  top: 20px;
  left: 10px;
  position: absolute;
  overflow: hidden;
}
.map {
  display: inline-block;
  position: absolute;
}
.map__row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.map__area {
  width: 25px;
  height: 25px;
  margin: 5px 0 0 5px;
  background-color: transparent;
  position: relative;
}
.map__area.map__area--grey {
  background-color: grey;
}
.map__area.map__area--blue {
  background-color: aqua;
}
.map__area.map__area--active:after {
  content: '•';
  color: red;
  position: absolute;
  top: 15%;
  right: 35%;
}
.map__connection {
  background-color: darkgrey;
  position: absolute;
  z-index: 1;
}
.map__connection.map__connection--n,
.map__connection.map__connection--s {
  width: 6px;
  height: 15px;
}
.map__connection.map__connection--n {
  top: -10px;
  left: 10px;
}
.map__connection.map__connection--s {
  bottom: -10px;
  left: 10px;
}
.map__connection.map__connection--e,
.map__connection.map__connection--w {
  height: 6px;
  width: 15px;
}
.map__connection.map__connection--e {
  right: -10px;
  top: 10px;
}
.map__connection.map__connection--w {
  left: -10px;
  top: 10px;
}
.main {
  position: relative;
}
.main__block {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border: 4px solid limegreen;
  padding: 10px;
  color: limegreen;
}
